.body {
    background-color: lightblue;
}

.title {
    text-align: center;
    color: white;
    font-size: 50px;
}

.back {
    text-align: left;    
}

.paragraph {
    text-indent: 40px;
    
    margin: 20px 150px;
    
    border-style: dotted;
    border-width: 1px;

    padding: 10px;

    font-size: 15px;
    line-height: 2.0;
}

.links {
    text-align: center;
    font-size: 30px;
    line-height: 2.0;
}

.padding {
    padding: 40px;
}
